build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate

xcuserdata/

.build/
.swiftpm/

*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

Pods/
Podfile.lock
Carthage/Build/

.DS_Store
*.swp
*.lock

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
